// mad-width 1024px
@media (max-width: 1024px) {
    .container_header {
        width: 100%;
    }

   header nav {
    ul {

        display: none;
        right: 0px;
        top: 90px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        z-index: 2;
        position: absolute;
        background: #0C0C0E;
        width: 332px;
        line-height: 50px;
      
    }

    }

    
}



// tablet 768px