.profile_icon_wrapper {
    position: relative;
}
.drop_menu {
    transition: all 0.9s;
    position: absolute;
    top: -500px;
    opacity: 0;
    right: 0;
    width: 80px;
    height: 115px;
    padding: 5px 10px 20px;
    background-color: #FFFFFF;
    text-align: center;
    &-title {
        position: relative;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        &::after{
            content: '';
            margin: 5px auto;
            display: block;
            width: 40px;
            height: 1px;
            background: #BB945F;
        }
    }
    &-links {
        margin: 0;
        padding: 0;
        margin-top: 15px;
        list-style-type: none;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        li {
            cursor: pointer;
        }
        li:not(:nth-child(1)) {
            margin-top: 10px;
        }
    }
  }

  .dropped {
    top: unset;

}

  .nonetransparent {
    opacity: 1;
  }

  .modal_overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0, 0.8)
  }
 
  .modal_register, .modal_login {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    background: #FFF;
    button.close_modal {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        position: absolute;
        width: 19px;
        height: 19px;
        top: 13px;
        right: 13px;
        &:hover {
            path {
                transition: all 0.3s;
                stroke: #afafaf
            }
        }
    }
    form {
        display: block;
        label {
            margin-bottom: 10px;
            display: block;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.3px;
            input {
                margin-top: 10px;
                display: block;
                width: 200px;
                height: 20px;
                border: 1px solid #BB945F;
            }
        }
        .modal_btn {
            cursor: pointer;
            width: 75px;
            height: 30px;
            color: #0C0C0E;
            text-align: center;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            padding: 9px 15px;
            background: #ffffff;
            border-radius: 2px;
            border: 1px solid #0C0C0E;
            margin-top: 10px;
            transition: all 0.4s;
            &:hover {
                border: 1px solid #BB945F;
                background: #BB945F;
            }
          }
    }
    h2 {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-family: Forum;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }
    p {
        color: #000;
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        span {
            cursor: pointer;
            color: #0C0C0E;
            text-align: center;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-decoration-line: underline;
            display: inline-block;
            margin-left: 10px;
        }
        
    }
    
  }
  .modal_register {
    display: none;}
  .modal_login { 
    height: 262px;
    display: none;
  }

 