*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-color:rgba(0,0,0, 0.3);
    border-radius: 5px;
  }

.hidden {
    display: none;
};
.shown {
    display: block;
}
.profile_icon_wrapper {
    position: relative;
}

.drop_menu {
    transition: all 0.9s;
    position: absolute;
    top: -500px;
    opacity: 0;
    right: 0;
    width: 80px;
    height: 115px;
    padding: 5px 4px 20px;
    background-color: #FFFFFF;
    text-align: center;
    &-title {
        position: relative;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        &::after{
            content: '';
            margin: 5px auto;
            display: block;
            width: 40px;
            height: 1px;
            background: #BB945F;
        }
    }
    &-links {
        margin: 0;
        padding: 0;;
        margin-top: 15px;
        list-style-type: none;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        li {
            cursor: pointer;
        }
        li:not(:nth-child(1)) {
            margin-top: 10px;
        }
    }
  }

  .dropped {
    top: unset;

}

  .nonetransparent {
    opacity: 1;
  }

  .modal_overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0, 0.8)
  }
 
  .modal_register, .modal_login {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    background: #FFF;
    button.close_modal {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        position: absolute;
        width: 19px;
        height: 19px;
        top: 13px;
        right: 13px;
        &:hover {
            path {
                transition: all 0.3s;
                stroke: #afafaf
            }
        }
    }
    form {
        display: block;
        label {
            margin-bottom: 10px;
            display: block;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.3px;
            input {
                margin-top: 10px;
                display: block;
                width: 200px;
                height: 20px;
                border: 1px solid #BB945F;
            }
        }
        .modal_btn {
            cursor: pointer;
            width: 75px;
            height: 30px;
            color: #0C0C0E;
            text-align: center;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            padding: 9px 15px;
            background: #ffffff;
            border-radius: 2px;
            border: 1px solid #0C0C0E;
            margin-top: 10px;
            transition: all 0.4s;
            &:hover {
                border: 1px solid #BB945F;
                background: #BB945F;
            }
          }
    }
    h2 {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-family: Forum;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }
    p {
        color: #000;
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        span {
            cursor: pointer;
            color: #0C0C0E;
            text-align: center;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-decoration-line: underline;
            display: inline-block;
            margin-left: 10px;
        }
        
    }
    
  }
  .modal_register {
    display: none;}
  .modal_login { 
    height: 262px;
    display: none;
  }

 .user_profile {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    .close_btn {
        position: absolute;
        top: 25px;
        right: 25px;
    }
    .user_photo {
        background: #0C0C0E;
        width: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        &-abbr {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            background: #FFF;
            color: #BB945F;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-transform: capitalize;
        }
        &-name {
            display: flex;
            justify-content: center;
            padding: 5px;
            align-items: center;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            width: 120px;
            max-height: 90px;
            background: #FFF;
        }

    }
    &_content {
        padding: 7px 25px 40px 20px;
        .profile_title {
            font-family: Forum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            margin: 0;
            margin-top: 33px;
            margin-bottom: 40px;
        }
        .user_profile_icons-wrapper {
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.4px;
            text-transform: capitalize;
            display: flex;
            gap: 20px;

        }
        .user_profile_icons-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            div {
                text-align: center;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.2px;
                text-transform: capitalize;
            }
        }
        h3 {
            color: #0C0C0E;
            font-family: Inter;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin: 0px;
            margin-top: 20px;
        }
        #rented_books_list {
            overflow: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            height: 100px;
            line-height: 20px; /* 100% */
            letter-spacing: 2px;
            text-transform: capitalize;
            ul {
             margin: 0;
             margin-top: 20px;
            width: 368px;
             padding-left: 31px;
             li {
                white-space: nowrap;
                padding-bottom: 10px;
             }
            
            }
        }
        .card_number-wrapper {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            svg {
                position: relative;
                cursor: pointer;
                &:hover {
                    rect {
                        transition: all 0.5s;
                        fill : #bb955fc5;}
                }
            }
           
         span {
            color: #0C0C0E;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        #card_number {
            color: #BB945F;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    }
 }

.copy_toClipBoard {
    position: relative;
    margin-left: 3px;
    &:hover {
        &:after {
        content: attr(data-info);
        position: absolute;
        left: 14px;
        bottom: -15px;
        background: rgba(209, 156, 95, 0.65);
        text-align: center;
        font-family: Inter;
        font-size: 11px;
        padding: 3px 0;
        width: 137px;
        opacity: 0.7;
        }
    }
    
}
 .buy_card {
        display: none;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 640px;
        height: 540px;
        background:#FFFFFF;
        .close_btn {
            position: absolute;
            top: 23px;
            right: 13px;
        }
        &_header {
            background: #0C0C0E;
            width: 640px;
            height: 60px;
            color: #FFF;
            text-align: center;
            font-family: Forum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: 0.8px;
            text-transform: uppercase;

        }
        &_content-wrapper {
            padding: 30px 40px 40px 40px;
            display: flex;
            gap: 40px;
            form {
                display: block;
                label {
                    margin-bottom: 10px;
                    display: block;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    &:nth-of-type(4) {
                        margin-top: 19px;
                    }
                    input {
                        margin-top: 10px;
                        display: block;
                        width: 200px;
                        height: 20px;
                        border: 1px solid #BB945F;
                    }
                    .expiration_code {
                        display: inline-block;
                        width: 45px;
                        height: 20px;
                        &:not(:nth-of-type(1)) {
                            margin-left: 5px;
                        }
                        &:nth-of-type(3) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        &_descr {
            width: 330px;
            color: #8E8E8E;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
        }
        .card_price {
            position: absolute;
            left: 140px;
            bottom: 40px;
            color: #0C0C0E;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 2px;
        }
 }


 .modal_btn {
    cursor: pointer;
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    padding: 9px 15px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-top: 10px;
    transition: all 0.4s;
    &:hover {
        border: 1px solid #BB945F;
        background: #BB945F;
    }
  }
  .close_modal {
    cursor: pointer;
  }
  .librarycard_card {
    position: relative;
  }
  .card_info {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    gap: 33px;
    transition: all 0.4s;
  }

 .user_profile_icons-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    img {
        width: 20px;
        height: 21px;
    }
}

input:disabled {
    background-color: #FFFFFF;
}