@media (max-width: 1024px) {
  .container_header {
    width: 100%;
  }
  header nav ul {
    position: absolute;
    top: -800px;
    right: 15px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    height: 470px;
    background: #0C0C0E;
    opacity: 0;
    width: 332px;
    line-height: 50px;
    transition: all 0.5s;
  }
  .humburger_btn, .humburger_line {
    display: block;
    cursor: pointer;
    margin-right: 0px;
  }
  .humburger_btn.touched .humburger_line:nth-child(1) {
    display: none;
  }
  .humburger_btn.touched .humburger_line:nth-child(2) {
    transform: rotate(-45deg) translateX(-5px) translateY(-5px);
  }
  .humburger_btn.touched .humburger_line:nth-child(3) {
    transform: rotate(45deg) translateX(-11px) translateY(-3px);
  }
  .open_nav {
    display: flex;
    top: 100px;
    opacity: 1;
    z-index: 2;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .about_slider {
    position: relative;
  }
  .about_slider img:not(:nth-child(1)) {
    display: none;
  }
  .about_slider_content-wrapper {
    justify-content: center;
  }
  .about_slider_arrow-left {
    display: block;
    position: absolute;
    left: 57px;
    top: 288px;
  }
  .about_slider_arrow-right {
    display: block;
    position: absolute;
    right: 57px;
    top: 288px;
  }
  .about_slider_paginator {
    margin-top: 20px;
  }
  .favorites .tabs_wrapper {
    grid-template-columns: 590px;
    justify-content: center;
  }
}