.hidden {
  display: none;
}

.shown {
  display: block;
}

.profile_icon_wrapper {
  position: relative;
}

.drop_menu {
  transition: all 0.9s;
  position: absolute;
  top: -500px;
  opacity: 0;
  right: 0;
  width: 80px;
  height: 115px;
  padding: 5px 10px 20px;
  background-color: #FFFFFF;
  text-align: center;
}
.drop_menu-title {
  position: relative;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.drop_menu-title::after {
  content: "";
  margin: 5px auto;
  display: block;
  width: 40px;
  height: 1px;
  background: #BB945F;
}
.drop_menu-links {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.drop_menu-links li {
  cursor: pointer;
}
.drop_menu-links li:not(:nth-child(1)) {
  margin-top: 10px;
}

.dropped {
  top: unset;
}

.nonetransparent {
  opacity: 1;
}

.modal_overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
}

.modal_register, .modal_login {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 250px;
  height: 382px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  background: #FFF;
}
.modal_register button.close_modal, .modal_login button.close_modal {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 13px;
  right: 13px;
}
.modal_register button.close_modal:hover path, .modal_login button.close_modal:hover path {
  transition: all 0.3s;
  stroke: #afafaf;
}
.modal_register form, .modal_login form {
  display: block;
}
.modal_register form label, .modal_login form label {
  margin-bottom: 10px;
  display: block;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.modal_register form label input, .modal_login form label input {
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 20px;
  border: 1px solid #BB945F;
}
.modal_register form .modal_btn, .modal_login form .modal_btn {
  cursor: pointer;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  padding: 9px 15px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  margin-top: 10px;
  transition: all 0.4s;
}
.modal_register form .modal_btn:hover, .modal_login form .modal_btn:hover {
  border: 1px solid #BB945F;
  background: #BB945F;
}
.modal_register h2, .modal_login h2 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.modal_register p, .modal_login p {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.modal_register p span, .modal_login p span {
  cursor: pointer;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  display: inline-block;
  margin-left: 10px;
}

.modal_register {
  display: none;
}

.modal_login {
  height: 262px;
  display: none;
}

.user_profile {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  width: 600px;
  height: 400px;
  background-color: #FFFFFF;
}
.user_profile .close_btn {
  position: absolute;
  top: 25px;
  right: 25px;
}
.user_profile .user_photo {
  background: #0C0C0E;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.user_profile .user_photo-abbr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #FFF;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}
.user_profile .user_photo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 120px;
  height: 30px;
  background: #FFF;
}
.user_profile_content {
  padding: 7px 25px 40px 20px;
}
.user_profile_content .profile_title {
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 40px;
}
.user_profile_content .user_profile_icons-wrapper {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  display: flex;
  gap: 20px;
}
.user_profile_content .user_profile_icons-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user_profile_content .user_profile_icons-item div {
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.user_profile_content h3 {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  margin-top: 20px;
}
.user_profile_content #rented_books_list {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.user_profile_content #rented_books_list ul {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 31px;
}
.user_profile_content #rented_books_list ul li {
  padding-bottom: 10px;
}
.user_profile_content .card_number-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.user_profile_content .card_number-wrapper span {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.user_profile_content .card_number-wrapper #card_number {
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.buy_card {
  position: relative;
  width: 640px;
  height: 540px;
  background: #FFFFFF;
}
.buy_card .close_btn {
  position: absolute;
  top: 23px;
  right: 13px;
}
.buy_card_header {
  background: #0C0C0E;
  width: 640px;
  height: 60px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.buy_card_content-wrapper {
  padding: 30px 40px 40px 40px;
  display: flex;
  gap: 40px;
}
.buy_card_content-wrapper form {
  display: block;
}
.buy_card_content-wrapper form label {
  margin-bottom: 10px;
  display: block;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.buy_card_content-wrapper form label:nth-of-type(4) {
  margin-top: 19px;
}
.buy_card_content-wrapper form label input {
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 20px;
  border: 1px solid #BB945F;
}
.buy_card_content-wrapper form label .expiration_code {
  display: inline-block;
  width: 45px;
  height: 20px;
}
.buy_card_content-wrapper form label .expiration_code:not(:nth-of-type(1)) {
  margin-left: 5px;
}
.buy_card_content-wrapper form label .expiration_code:nth-of-type(3) {
  margin-bottom: 5px;
}
.buy_card_descr {
  width: 330px;
  color: #8E8E8E;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}
.buy_card .card_price {
  position: absolute;
  left: 140px;
  bottom: 40px;
  color: #0C0C0E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
}

.modal_btn {
  cursor: pointer;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  padding: 9px 15px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  margin-top: 10px;
  transition: all 0.4s;
}
.modal_btn:hover {
  border: 1px solid #BB945F;
  background: #BB945F;
}