@media (max-width: 560px) {
  .volume_control {
    flex-direction: column;
    row-gap: 2vmin;
  }
  .volume_btn {
    height: 12vmin;
    width: 12vmin;
    max-width: 35px;
    max-height: 35px;
  }
}