* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: rgba(0, 0, 0, 0.4862745098);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #117072;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header {
  height: 5vh;
}

body {
  background-color: #000000;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  background-color: rgba(0, 0, 0, 0.4862745098);
  padding: 1vh 5px;
  height: 10.5vh;
}

button {
  height: 50px;
  width: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
}

.next {
  background: url("../img/svg/next.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.next:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.prev {
  background: url("../img/svg/prev.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.prev:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.play {
  background: url("../img/svg/play.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.play:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.pause {
  background: url("../img/svg/pause.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.pause:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.loop {
  position: relative;
  background: url("../img/svg/loop.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.loop:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.isActive::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #afcc0c;
  border-radius: 100%;
}

.go-last {
  background: url("../img/svg/end.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.go-last:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.go-first {
  background: url("../img/svg/start.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.go-first:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.text {
  position: relative;
  background: url("../img/svg/text.svg") center center/cover no-repeat;
  height: 10vmin;
  width: 10vmin;
  transition: all 0.4s;
}
.text:hover {
  filter: drop-shadow(0 0 10px #117072) brightness(1.1);
}

.container {
  max-width: 1000px;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress-bar {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  background: #d3e2e2;
  width: 96%;
  border-radius: 30px;
  transition: all 0.4s;
}
#progress-bar:hover {
  filter: drop-shadow(0 0 5px #117072) brightness(1.1);
}

#progress-bar::-webkit-slider-thumb {
  margin-top: -4px;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #117072;
  border-radius: 5px;
  cursor: pointer;
}

#progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
}

.img {
  height: 50vh;
  transition: all 0.2s;
  overflow: auto;
  margin: 1vh;
  transition: all 0.4s ease-in;
}

.img_not_playing {
  transition: all 0.4s ease-in;
  filter: brightness(0.5);
  transform: scale(0.98);
}

.player {
  border: 1px solid #000000;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.4862745098);
  width: 90vw;
  height: 80vh;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2vw;
  background-color: rgba(0, 0, 0, 0.4862745098);
  height: 10vh;
}

.author {
  font-size: 3vh;
  font-weight: 600;
  color: #117072;
  filter: drop-shadow(0 0 1px #117072);
}

.title {
  font-size: 2.5vh;
  color: #d3e2e2;
  filter: drop-shadow(0 0 1px #d3e2e2);
  padding-left: 1vw;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(12px);
}

.lyricks {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 5px;
  padding-left: 50px;
  position: relative;
  background: rgba(0, 0, 0, 0.7882352941);
  min-height: 50vh;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.5);
  height: 6vh;
}

.time_total, .time_current, .wrapper span {
  display: inline;
  font-size: 1.5rem;
  color: #d3e2e2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 9vh;
  padding: 2vh;
  width: 90vw;
  max-width: 1000px;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #000000;
  border-top: none;
}
footer img {
  height: 5vmin;
}
footer a, footer span {
  font-size: 3.5vmin;
  font-family: Arial, Helvetica, sans-serif;
  color: #d3e2e2;
  font-weight: 600;
}
footer a {
  text-decoration: none;
  transition: all 0.4s;
}
footer a:hover {
  filter: drop-shadow(0 0 5px #117072) brightness(1.1);
}